/* Custom Stylesheet */

nav {
  background-color: darkolivegreen;
  padding-left: 50px;
  padding-right: 50px;
}

.map {
  height: 400px;
  width: 100%;
}

.park-info-box {
  margin-right: 5px; 
  margin-left: 3%; 
  margin-top: 10px;
}

.park-info-card {
  width: 100%;
}

.park-pictures {
  max-width: 100%; 
  margin-top: 8px;
}

.line-break {
  margin-left: 1%; 
  margin-right: 1%;
}

.park-info-div {
  margin-left: 3%; 
  margin-right: 3%;
}

.park-weather {
  width: 200px;
}

#parksChooserDiv {
  width: 400px;
}