/* Custom Stylesheet */

/* * {
  margin: 0;
  padding: 0;
} */

/* .main-wrapper {
  width: 100%;
  position: relative;
} */

/* .menu-holder 
  width: 80%;
  margin: 0 auto;
  z-index: 9999;

}   */
/* #parkNameCard {
  height: 408.889px;
  overflow: auto;
}

#parkNameCard .card {
  background: rgb(255, 255, 255, .2)
} */

/* #parksChooserDiv {
    margin-right: 50px;
} */

nav {
  background-color: darkolivegreen;
  padding-left: 50px;
  padding-right: 50px;
}

/* .slider-holder {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;

}
 */
/* .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.carousel.carousel-slider {
  height: 85vh !important;
} */

/* .parkInfo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#exploreMap {
  margin-left: 5px;
}


#forcast {
  display: none;

}

#showLatitude {
  display: none;

} */
