/**
 * /* Custom Stylesheet
 *
 * @format
 */







.back-color {
	background-color: gold;
	/* mY changes made  */
	margin: 0;

	/* mY changes made  */

	/* up to this point mY changes made  */
}

nav {
	background-color: #6d7a54;
	padding-left: 5%;
	padding-right: 5%;
}



nav .input-field {
	/* mY changes made  */
	text-align: center;
	display: inline-block;
	padding: 0 1.5em;
}

/* mY changes made  continued */

nav .input-field:hover {
	background: #6d7a54;

}



.select-wrapper input.select-dropdown {
	width: 100%;
	padding: 5px 5px;
	border: 2px solid gold;
	border-radius: 2px;
	height: 3rem;
	background-color: #6d7a54;
}

/* mY changes made  */



h5 {
	margin-left: 10px;
}

.map {
	height: 400px;
	width: 100%;
}

.park-info-box {
	margin-right: 5px;
	margin-top: 10px;
}

.park-info-card {
	width: 100%;
	background-color: #6d7a54;
}

.park-pictures {
	max-width: 100%;
	margin-top: 8px;
}

.line-break {
	margin-left: 1%;
	margin-right: 1%;
}

.park-weather {
	width: 200px;
	background-color: royalblue;
	;
}

.park-footer {
	background-color: #6d7a54;
	padding-top: 0;
}

.contact-info {
	color: white;
	font-weight: bold;
}

#parksChooserDiv {
	width: 420px;
	/* mY changes made  */
	padding: 0 1em;



	border: 1px solid none;
}

.dropdown-content {
	padding: 0 2em;
	background-color: mintcream;
	margin: 0;
}

/* mY changes made  */



#desktop-site {
	display: block;
}

#mobile-site {
	display: none;
}


@media screen and (max-width: 414) {
	#parksChooserDiv {
		width: 400px;
		padding: 0 4.75em;
		border: 2px solid none;
	}

	.dropdown-content {
		padding: 0 2em;
		background-color: brown;
		margin: 0;
	}

	.select-wrapper input.select-dropdown {
		padding: 0 1.5em;
		border-bottom: none;

	}

	.back-color {
		background-color: yellow;
		margin: 0;
		padding: 0;

	}


	/* @media screen and (max-width: 450) 
	#desktop-site 
		display: none;
	}

	#mobile-site {
		display: block;
	
}   */